$primary-button-color: #FFBB55;
$primary-text-dark: #333333;
$primary-text-middle-dark: #555555;
$primary-text-light: #777777;
$background-light-grey: #f4f4f4;
$background-light-orange: #FFEDCC;
$link-color: #907857;
$red-color: #E54F4F;

$primary-font-h1: 36px;
$primary-font-h2: 30px;
$primary-font-h3: 20px;
$primary-font-h4: 18px;
$primary-font-h5: 13px;

$media-xxl: 1336px;
$media-xl: 1280px;
$media-lg: 992px;
$media-md: 768px;
$media-xxl: 576px;

